<form #form="ngForm" (change)="modelChange.emit(model)">
    <mat-form-field>
        <input [required]="isRequired('item')" matInput #item="ngModel" [(ngModel)]="model.name" name="item" />
        <mat-placeholder>Item</mat-placeholder>
        <mat-error *ngIf="item.hasError('required')">Please enter an Item</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select [required]="isRequired('character')" #character="ngModel" [(ngModel)]="model.character" [compareWith]="compareFunction" name="character">
            <mat-option *ngFor="let character of characters" [value]="character">{{character.name}}</mat-option>
            <mat-option (click)="openCharacterDialog()">Create New</mat-option>
        </mat-select>
        <mat-placeholder>Character</mat-placeholder>
        <mat-error *ngIf="character.hasError('required')">Please choose a Character</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input [required]="isRequired('date')" matInput #date="ngModel" [(ngModel)]="model.date" name="date" [matDatepicker]="datepicker" />
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #datepicker></mat-datepicker>
        <mat-placeholder>Date</mat-placeholder>
        <mat-error *ngIf="date.hasError('required')">Please choose a Date</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input [required]="isRequired('dtp')" matInput #dtp="ngModel" [(ngModel)]="model.dtp" name="dtp" />
        <mat-placeholder>DTP spent</mat-placeholder>
        <mat-error *ngIf="dtp.hasError('required')">Please enter the amount of DTP spent</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input [required]="isRequired('money')" matInput #money="ngModel" [(ngModel)]="model.money" name="money" />
        <mat-placeholder>Gold spent</mat-placeholder>
        <mat-error *ngIf="money.hasError('required')">Please enter the amount of Gold spent</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea [required]="isRequired('comment')" matInput #comment="ngModel" [(ngModel)]="model.comment" name="comment"></textarea>
        <mat-placeholder>Comment</mat-placeholder>
        <mat-error *ngIf="item.hasError('required')">Please enter a comment</mat-error>
    </mat-form-field>
</form>

