<form #form="ngForm" (change)="modelChange.emit(model)">
    <mat-form-field>
        <input matInput [required]="isRequired('item')" #item="ngModel" [(ngModel)]="model.name" name="item" />
        <mat-placeholder>Place</mat-placeholder>
        <mat-error *ngIf="item.hasError('required')">Please enter a Place</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select [required]="isRequired('character')" #character="ngModel" [compareWith]="compareFunction" [(ngModel)]="model.character" name="character">
            <mat-option *ngFor="let character of characters" [value]="character">{{character.name}}</mat-option>
            <mat-option (click)="openCharacterDialog()">Create New</mat-option>
        </mat-select>
        <mat-placeholder>Character</mat-placeholder>
        <mat-error *ngIf="character.hasError('required')">Please choose a Character</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [required]="isRequired('date')" #date="ngModel" [(ngModel)]="model.date" name="date" [matDatepicker]="datepicker" />
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #datepicker></mat-datepicker>
        <mat-placeholder>Date</mat-placeholder>
        <mat-error *ngIf="date.hasError('required')">Please choose a Date</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [required]="isRequired('dtp')" #dtp="ngModel" [(ngModel)]="model.dtp" name="dtp" />
        <mat-placeholder>DTP spent</mat-placeholder>
        <mat-error *ngIf="dtp.hasError('required')">Please enter the amount of DTP spent</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [required]="isRequired('comment')" #comment="ngModel" [(ngModel)]="model.comment" name="comment"></textarea>
        <mat-placeholder>Comment</mat-placeholder>
        <mat-error *ngIf="comment.hasError('required')">Please enter a comment</mat-error>
    </mat-form-field>
</form>

