.panel-container-wrapper {
    text-align: center;
}

.panel-container {

}

.panel {
    text-align: left;
    margin: 20px;
    display: inline-block;
    width: 20%;
    min-width: 250px;
    max-width: 300px;
    height: 130px;
}
