<mat-card>
    <mat-card-title>Loot Calculator</mat-card-title>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="duration"/>
        <mat-placeholder>Duration in Hours</mat-placeholder>
    </mat-form-field>
    <mat-card>
        <mat-card-title>Characters {{this.characters.length > 0 ? "- APL: " + (getAPL() | number:'.0-1') : ""}}</mat-card-title>
        <mat-card-content>
            <div *ngFor="let character of characters">
                <mat-form-field>
                    <input matInput [(ngModel)]="character.name" />
                    <mat-placeholder>Name</mat-placeholder>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="character.level" />
                    <mat-placeholder>Level</mat-placeholder>
                </mat-form-field>
                <button mat-icon-button (click)="removeCharacter(character)"><mat-icon color="warn">delete_forever</mat-icon></button>
            </div>
            <button mat-button (click)="addChar()">Add</button>
        </mat-card-content>
    </mat-card>
    <br/>
    <ng-container *ngIf="duration < 8">
        <mat-card>
            <mat-card-title>Regular Loot</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="duration >= 8">
        <mat-card>
            <mat-card-title>Campaign Loot</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </ng-container>

</mat-card>
