<mat-dialog-content>
    <ttt-character-form #form [required]="['*']" [(model)]="character"></ttt-character-form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button matDialogClose>Cancel</button>
    <button mat-raised-button color="primary" [matDialogClose]="character" [disabled]="!form.isValid()">Edit</button>
    <button mat-button [style.margin-left]="'auto'" [style.float]="'right'" (click)="deletionRequested = true" *ngIf="!deletionRequested && character.deceased">Delete</button>
    <span *ngIf="deletionRequested" [style.margin-left]="'auto'">
        <button mat-button [style.float]="'right'" color="warn" (click)="delete()" *ngIf="deletionRequested">Confirm</button>
        <button mat-button [style.float]="'right'" (click)="deletionRequested = false" *ngIf="deletionRequested">Cancel</button>
    </span>
</mat-dialog-actions>
