<form #form="ngForm" (change)="modelChange.emit(model)">
    <mat-form-field>
        <input matInput #name="ngModel" [(ngModel)]="model.name" name="name" />
        <mat-placeholder>Action</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
        <mat-select [compareWith]="compareFunction" [(ngModel)]="model.character" name="character">
            <mat-option *ngFor="let character of characters" [value]="character">{{character.name}}</mat-option>
            <mat-option (click)="openCharacterDialog()">Create New</mat-option>
        </mat-select>
        <mat-placeholder>Character</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
        <input matInput #date="ngModel" [(ngModel)]="model.date" name="date" [matDatepicker]="datepicker" />
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #datepicker></mat-datepicker>
        <mat-placeholder>Date</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
        <input matInput #dtp="ngModel" [(ngModel)]="model.dtp" name="dtp" />
        <mat-placeholder>DTP spent</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
        <input matInput #money="ngModel" [(ngModel)]="model.money" name="money" />
        <mat-placeholder>Gold spent</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput #comment="ngModel" [(ngModel)]="model.comment" name="comment"></textarea>
        <mat-placeholder>Description</mat-placeholder>
    </mat-form-field>
</form>
