<mat-card>
    <mat-card-title>Activities
        <button mat-raised-button color="primary" (click)="openActivityDialog()" [style.float]="'right'">New Activity</button>
        <button *ngIf="selected" mat-raised-button color="primary" (click)="openActivityDialog(selected)" [style.margin-right.px]="3" [style.float]="'right'">Edit Activity</button>
    </mat-card-title>
    <div class="table-container mat-elevation-z5">
        <mat-table [dataSource]="datasource" matSort>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                <mat-cell class="type" *matCellDef="let activity">
                    <b><span [style.color]="'green'" *ngIf="activity.type === ActivityType.SESSION">Session</span></b>
                    <b><span [style.color]="'blue'" *ngIf="activity.type === ActivityType.CRAFTING">Crafting</span></b>
                    <b><span [style.color]="'brown'" *ngIf="activity.type === ActivityType.HOUSING">Housing</span></b>
                    <b><span [style.color]="'green'" *ngIf="activity.type === ActivityType.GOLD">Goldfarming</span></b>
                    <b><span [style.color]="'blue'" *ngIf="activity.type === ActivityType.TRAINING">Training</span></b>
                    <b><span [style.color]="'brown'" *ngIf="activity.type === ActivityType.TRAVEL">Travelling</span></b>
                    <b><span [style.color]="'blue'" *ngIf="activity.type === ActivityType.SPELLS">Spellcasting</span></b>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                <mat-cell class="date" *matCellDef="let activity">
                    <span>{{activity.date | date: 'dd/MM/yyyy'}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell class="name" *matCellDef="let activity">
                    <span>{{activity.name}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="character">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Character</mat-header-cell>
                <mat-cell class="character" *matCellDef="let activity">{{activity.character}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dtp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>DTP</mat-header-cell>
                <mat-cell class="dtp" *matCellDef="let activity">
                    <span [style.color]="'green'" *ngIf="activity.type === ActivityType.SESSION">+{{activity.dtp}}</span>
                    <span [style.color]="'red'" *ngIf="activity.type !== ActivityType.SESSION">-{{activity.dtp}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="exp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>EXP</mat-header-cell>
                <mat-cell class="exp" *matCellDef="let activity">
                    <span *ngIf="activity.type === ActivityType.SESSION">{{activity.exp}}</span>
                    <span *ngIf="activity.type !== ActivityType.SESSION">-</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="money">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gold</mat-header-cell>
                <mat-cell class="money" *matCellDef="let activity">
                    <span [style.color]="'green'" *ngIf="activity.money && activity.type === ActivityType.SESSION || activity.type === ActivityType.GOLD">+{{activity.money}}</span>
                    <span [style.color]="'red'" *ngIf="activity.money && activity.type !== ActivityType.SESSION && activity.type !== ActivityType.GOLD">-{{activity.money}}</span>
                    <span *ngIf="!activity.money">-</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
                <mat-cell class="comment" *matCellDef="let activity">{{activity.comment}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="row" (contextmenu)="log($event, row)" (click)="select(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #paginator [pageSize]="10"></mat-paginator>
    </div>
</mat-card>
